In [1]:
import numpy as np
import pandas as pd
import scipy.io as sio
import os
import pickle

In [2]:
path = r'C:\Users\ankit\Documents\Fall 19\CSE 575 SML\CSE575Brains-master\CSE575Brains-master\brainnetworks\smallgraphs'
path

'C:\\Users\\ankit\\Documents\\Fall 19\\CSE 575 SML\\CSE575Brains-master\\CSE575Brains-master\\brainnetworks\\smallgraphs'

In [3]:
def upper_tri_indexing(A):
    m = A.shape[0]
    r,c = np.triu_indices(m,1)
    return A[r,c]

data_list = []
for r, d, f in os.walk(path):
    for file in f:
        mat_file = sio.loadmat(path + '\\' + file)
        data = mat_file['fibergraph'].todense()
        data = upper_tri_indexing(data)
        data = data.flatten()
        data = data.tolist()
        data[0].append(file[:-10])
        data_list.append(data[0])

In [4]:
len(data_list[0])

2416

In [5]:
#df_upper = pd.DataFrame(data_list)
df_feat_ex = pd.read_csv("csv/all.csv", header = None)
#print(df_upper.head())
#print(df_feat_ex.head())
#df = pd.merge(right=df_upper, left=df_feat_ex, right_on = len(data_list[0])-1, left_on = 0)
df = df_feat_ex
df.head(10)
#df.shape

,0,1,2,3,4,5,6,7,8,9,...,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695
0,M87121956,2.835360,2.580988,1.495402,1.200093,0.000000,1.851919,3.484975,3.574244,2.820397,...,92.085290,154.779050,116.638865,69.118708,130.568219,108.566315,110.254130,185.294400,221.862265,150.093904
1,M87165017,6.554305,5.360270,1.902370,1.574256,0.000000,2.833306,5.254802,9.249994,6.594507,...,86.161971,115.263384,112.455135,82.924426,136.017649,128.127239,141.299422,166.341696,226.386340,215.966929
2,M87128444,3.694878,2.684327,1.184524,1.385732,0.000000,2.212251,3.960773,8.731869,3.359430,...,78.559718,107.102831,91.837611,86.054428,134.414198,136.001809,100.559625,214.956484,225.539310,133.164572
3,M87144889,7.246588,5.982223,1.484375,1.581994,0.000000,3.079184,6.493420,7.845961,6.651716,...,92.104196,124.648252,120.696806,92.591150,110.320304,125.171093,116.299749,188.867381,228.596960,198.425146
4,M87192333,4.082578,6.920282,2.231761,1.498611,17.601711,12.790936,4.045957,4.161073,3.936684,...,74.497908,126.081688,135.157770,107.740695,96.032723,153.377045,89.444469,198.195328,228.018988,178.763969
5,M87150639,4.306810,7.505499,2.548111,2.294532,15.300512,4.299577,4.933232,12.370361,5.091971,...,101.058624,108.487316,121.283019,99.133024,142.141455,122.986290,137.770761,233.843642,194.472384,159.386235
6,M87115498,4.289158,4.570529,1.743859,1.590685,0.000000,3.066208,5.446259,4.578377,2.963963,...,79.176469,131.186039,102.772820,82.514777,103.278700,154.693883,97.677308,248.411628,230.821404,130.496248
7,M87115517,7.759943,6.067139,2.028604,1.906583,0.000000,3.395331,5.545416,8.136886,8.752360,...,85.293304,122.724590,124.083471,75.721932,124.887812,133.209675,142.542552,215.655528,224.932764,166.904244
8,M87102217,3.066076,5.167544,1.903139,1.554004,15.367243,3.309958,3.396778,4.001210,3.510148,...,93.162197,118.865597,130.217022,72.810729,135.742975,119.478939,115.753894,183.954706,241.257072,131.480763
9,M87117167,2.649821,3.513753,1.631474,1.456130,19.783367,2.216416,3.734509,2.892230,2.605098,...,79.455512,134.302582,137.065731,76.677929,117.365201,141.590439,91.551869,197.043988,245.695253,112.908802

In [6]:
meta_data_path = r"C:\Users\ankit\Documents\Fall 19\CSE 575 SML\CSE575Brains-master\CSE575Brains-master\brainnetworks\\metainfo.xls"
meta_data_df = pd.read_excel(meta_data_path)
meta_data_df = meta_data_df.drop(columns = ['Unnamed: 12'])
meta_data_df.head(10)
#meta_data_df.shape

,URSI,CCI,Sex,Age,Subject_type,FSIQ,CAQ,Neuroticm,Extraversion,Openness,Agreeableness,Conscientiousness
0,M87102217,111.08,0,20,1,123,42.0,20,34,43,30,30
1,M87102806,83.49,0,20,0,108,3.0,11,21,34,17,32
2,M87103074,115.68,1,27,1,136,30.0,5,38,44,41,31
3,M87105476,94.22,0,21,0,98,15.0,17,36,30,37,39
4,M87107085,88.09,0,18,0,121,20.0,19,36,33,31,43
5,M87108094,114.15,0,24,1,134,34.0,21,23,37,41,31
6,M87111487,106.49,1,21,0,121,12.0,9,28,40,25,30
7,M87111924,76.34,1,23,0,91,4.0,8,38,28,37,38
8,M87114047,101.89,0,22,0,116,6.0,8,38,29,38,43
9,M87114064,83.49,1,19,2,112,8.0,14,29,24,26,36

In [7]:
final_df = pd.merge(left=df, right=meta_data_df, left_on = 0, right_on = 'URSI')
#final_df = pd.concat(df,meta_data_df)
#print(final_df)
#final_df = final_df.drop(labels=['key_0', '0_x', '2415_y'], axis=1)
final_df = final_df.drop(labels=0, axis=1)
final_df.head()

,1,2,3,4,5,6,7,8,9,10,...,Sex,Age,Subject_type,FSIQ,CAQ,Neuroticm,Extraversion,Openness,Agreeableness,Conscientiousness
0,2.835360,2.580988,1.495402,1.200093,0.000000,1.851919,3.484975,3.574244,2.820397,2.644199,...,1,21,0,107,11.0,16,21,23,30,34
1,6.554305,5.360270,1.902370,1.574256,0.000000,2.833306,5.254802,9.249994,6.594507,2.921938,...,0,20,1,99,14.0,43,40,41,23,32
2,3.694878,2.684327,1.184524,1.385732,0.000000,2.212251,3.960773,8.731869,3.359430,2.402819,...,1,19,0,130,13.0,18,18,38,19,33
3,7.246588,5.982223,1.484375,1.581994,0.000000,3.079184,6.493420,7.845961,6.651716,2.879263,...,1,19,2,114,5.0,2,33,37,37,34
4,4.082578,6.920282,2.231761,1.498611,17.601711,12.790936,4.045957,4.161073,3.936684,2.570783,...,1,19,0,97,5.0,16,35,29,25,28

In [8]:
final_df.to_pickle('Brain_data.pkl')

In [9]:
final_df.shape

(114, 2707)

In [10]:
final_final_df = pd.read_pickle('Brain_data.pkl')
final_final_df.shape

(114, 2707)